.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFA;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html {
  margin: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of viewport */
}

.header,
.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 0.5rem 1rem;
}

.main-content {
  flex: 1; /* Take up all available space between header and footer */
  overflow-y: auto; /* Makes the main area scrollable */
  padding: 2rem;
  background-color: #f9f9f9;
}

